<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<title th:include="fragments/fragment :: headerFragment('Lihat Data Pegawai')"></title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
</head>



<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2> Ubah Pegawai </h2>
	<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
	<input type="hidden" th:field="${pegawai.nip}" />
		Nama: <br>
		<input type="text" name="nama" th:value="${pegawai.nama}" />
		<br>
		Tempat Lahir: <br>
		<input type="text" name="tempatLahir" th:value="${pegawai.tempatLahir}"/>
		<br>
		Tanggal Lahir: <br>
		<input type="date" name="tanggalLahir" th:value="${pegawai.tanggalLahir}"/>
		<br>
		Tahun Masuk: <br>
		<input type="text" name="tahunMasuk" th:value="${pegawai.tahunMasuk}" />
		<br>
		Provinsi: <br>
		<select id="provinsi">
				  <option disabled="disabled" selected="" >-- Pilih Provinsi --</option>
				  <option th:each="provinsi : ${provinsi}" 
				          th:value="${provinsi.id}" 
				          th:text="${provinsi.nama}"
				          th:select="${provinsi.nama}"
				         ></option>
		</select>
		<br>
		
		Nama Instansi: <br>
		<select  id="instansi" name="instansi">
				  <!-- <option th:each="instansi : ${instansi}" 
				          th:va	lue="${instansi.id}" 
				          th:text="${instansi.nama}"
				          th:selected="${instansi.id}"></option> -->
				  <option disabled="disabled" selected="selected" >Pilih Instansi</option>
		</select>
		<br>	
		
		Jabatan: <br>
		<div th:each="jabatan,iterationStats : *{jabatanList}" >
        	<select class="form-control" th:field="*{jabatanList[__${iterationStats.index}__]}" >
					 <option th:each="jabatannya : ${jabatanList}" th:value="${jabatannya.id}" th:text="${jabatannya.nama}" ></option>
			</select>
			
			<button type="submit" name="addRow" class="btn">Tambah Jabatan Lainnya</button>
						
         </div>
         
         
		<input type="submit" name="submit" class="btn btn-primary"  value="Ubah" onclick="myFunction()">
		
		
		
		

		
		<br>	
		<br>	
		
		
		
	</form>
	
	
	
	
	<script type="text/javascript">
	function myFunction() {
    	alert("Pegawi Berhasil Ditambah");
		}
	$(document).ready(function(){
		console.log("hey")
		$('#provinsi').change(function() {
			valueProv = $(this).val();
			console.log(valueProv)
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
				data: {
					'provinsiId' : valueProv
				},
				dataType: 'json',
				success: function(data) {
					console.log(data);
					getIns = '';
					var size = data.length;
				
					for (var i = 0; i<size; i++) {
						getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
						console.log(data[i]);
						console.log(data[i].nama)
					}
					console.log(getIns);
					$('#instansi').append(getIns);
				},
				error: function(rs,e) {
					alert(rs.responseText)
				}
			})
		})
	});
</script>
	
	
	
</body>
	




	
	
	
</body>
</html>