<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Update Jabatan</title>
</head>

<body>
	
	
	<h2>Update Data Jabatan</h2>
	<form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
		<input type="hidden" th:field="${jabatan.id}" />
		Nama: <br>
		<input type="text" name="nama" th:value="${jabatan.nama}" />
		<br>
		Deskripsi: <br>
		<input type="text" name="deskripsi" th:value="${jabatan.deskripsi}" />
		<br>
		
		Amount: <br>
		<input type="number" name="gajiPokok" th:value="${jabatan.gajiPokok}" />
		<br><br>
		<button type="submit">Submit</button>
	</form>
</body>

</html>