<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Pegawai</title>
	<title th:include="fragments/fragment :: headerFragment('Lihat Data Pegawai')"></title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h1>DATA KEPEGAWAIAN </h1>
		<p th:text="'NIP: ' + ${pegawai.nip}"></p>
		<p th:text="'Nama: ' + ${pegawai.nama}"></p>
		<p th:text="'Tempat Lahir: ' + ${pegawai.tempatLahir}"></p>
		<p th:text="'Tanggal Lahir: ' + ${pegawai.tanggalLahir}"></p>
		<p th:text="'Tahun Masuk: ' + ${pegawai.tahunMasuk}"></p>
		<p th:text="'Nama Instansi: ' + ${pegawai.instansi.nama}+'-'+${pegawai.instansi.provinsi.nama}"></p>
		<p th:text="'Gaji: Rp.' + ${gaji}"></p>
			
		<p><i> Jabatan:</i> </p>
		<div th:each="jabatan : ${pegawai.jabatanList}">
			<p th:text="${jabatan.nama}"></p> 
			
		</div>
		
		<form th:action="@{/pegawai/ubah}" th:object=${pegawai} method="GET">
		<input type="hidden" name="nip" th:value="${pegawai.nip}"/>
		<button type="submit"> Ubah Data </button>
		</form>	
		<br>
		<br>
		
		
	</body>


</html>